# Variáveis de ambiente
.env

# Banco de dados SQLite
senhas.db

# Cache do Python
__pycache__/
*.pyc

# Ambientes virtuais
venv/
.venv/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/
